<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/layout.css">
</head>

<body>
    <div class="heading_name">
        <h1 class="neonText">To Do</h1>
    </div>
    <div class="main_input">

        <form action="/ToDO_create" method="POST">
            <div class="inputtext">
                <input type="text" name="notes" placeholder="Note TO DO" style="height:50px; width:500px;"
                    required><br><br>
            </div>
            <div class="input_extra">
                <select id="priority" name="priority" class="red" style="width: 130px; "
                    onchange="this.className=this.options[this.selectedIndex].className">
                    <option class="red" value="Red" style="background-color: Red;">Red</option>
                    <option class="orange" value="Orange" style="background-color: orange;">Orange</option>
                    <option class="green" value="Green" style="background-color: green;">Green</option>
                </select>
                <input type="date" id="start" name="date" value=<%=today_date %> min=<%= today_date %>
                    style="width:180px;">
            </div>
            <br>
            <div class=" submit">
                <input type="submit" value="Update">
            </div>
    </div>

    <div class="note_contents">

        <div class="contents red neonText">
            <div class="notes-info ">
                <p>Samihan Jawalkar</p>
            </div>
            <div class="date-info">
                <p> 11 aug </p>
            </div>

        </div>



        <div class="contents green neonText">
            <div class="notes-info">
                <p>Samihan Jawalkar</p>
            </div>
            <div class="date-info">
                <p> 11 aug </p>
            </div>

        </div>

</body>

</html>